ion-content{

--background:#101010;

}

ion-card{

border-radius:18px;

}

ion-title{

font-weight:bold;

text-align:center;

}

ion-card-title{

text-align:center;

font-size:22px;

font-weight:bold;

}